SimpleJAXRPCClientWeb/WebContent/WEB-INF/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jaxrpc.simple" xmlns:impl="http://jaxrpc.simple" xmlns:intf="http://jaxrpc.simple" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxrpc.simple">
   <element name="sayResponse">
    <complexType>
     <sequence>
      <element name="sayReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="say">
    <complexType>
     <sequence>
      <element name="name" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayRequest">
     <wsdl:part element="impl:say" name="parameters">
    </wsdl:part>

  </wsdl:message>

   <wsdl:message name="sayResponse">
     <wsdl:part element="impl:sayResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>

   <wsdl:portType name="Hello">
     <wsdl:operation name="say">
       <wsdl:input message="impl:sayRequest" name="sayRequest">
    </wsdl:input>

       <wsdl:output message="impl:sayResponse" name="sayResponse">
    </wsdl:output>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="HelloSoapBinding" type="impl:Hello">
 <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsdl:required="false"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="say">
       <wsdlsoap:operation soapAction="say"/>

       <wsdl:input name="sayRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="sayResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="HelloService">
     <wsdl:port binding="impl:HelloSoapBinding" name="Hello">
       <wsdlsoap:address location="http://localhost:9080/SimpleJAXRPCWeb/services/Hello"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>